.searchIcon {
  align-self: center;
  transform: translateX(200%);
}

.clearIcon {
  align-self: center;
  transform: translateX(-200%);
  cursor: pointer;
  transition: all;
  transition-duration: 200ms;
  &:hover {
    transform: translateX(-200%) rotate(90deg);
  }
}
