@tailwind base;
@tailwind components;

/* ----- BASE STYLES -----------*/
html,
body {
  @apply font-body;
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-size: 18px;
}

h1 {
  @apply text-2xl;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}
a {
  @apply text-blue-600 underline;
}

img {
  @apply block max-w-full;
}

a {
  @apply text-blue-600;
  text-decoration: none;
}

a:hover {
  @apply text-blue-800;
  text-decoration: none;
}

.form-input {
  @apply flex-grow py-2 px-4 bg-gray-200 text-gray-800 rounded text-sm border-2 border-gray-200;
}
.form-input:focus {
  @apply outline-none border-2 border-gray-400;
}
.form-group {
  @apply flex w-full my-2;
}
.form-label {
  @apply uppercase text-xs flex-shrink-0 mr-2;
}
.form-button {
  @apply p-2 flex items-center justify-center rounded flex-shrink-0 bg-gray-800 text-white;
}

@import "./markdown.css";
/* ----- CUSTOM STYLES --------------- */
.btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

.hero {
  @apply py-20;
}

.title {
  @apply text-5xl text-center;
  color: #333;
  line-height: 1.15;
}

.label {
  @apply text-2xs font-bold uppercase mt-1;
}

.tag {
  @apply bg-gray-200 text-gray-800 py-2 px-4 rounded-full leading-none;
}
.tag-sm {
  @apply py-1 px-2 text-xs;
}

/* ------- END CUSTOM STYLES ---------- */
@tailwind utilities;
